@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}
*::before, *::after {
    margin: 0; 
    padding: 0; 
}


html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #222;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
body {
    margin: 1em;
}
.array {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 5px;
    position: fixed;
    top: 1em;
    right: 1em;
    bottom: 1em;
    left: 1em;
}
.array .arrayEl {
    text-align: center;
    background: #f00;
    color: white;
    width: 100%;
    overflow: visible;
    padding: 1em;
}
.arrayEl aside {
    text-align: center;
    position: relative;
    width: 100%;
    top: -2.5em;
}